.App {
  text-align: left;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: 1.2em;
  color: rgb(18, 18, 18);
}

#logo{

  margin-left : 38px;
  margin-top : 38px;
  margin-bottom : 18px;
  width: 150px
}

ul {
  list-style-type: none;
}

.list1{
  color:  #0048fe;
}
.list2{
  color:  #b300ff;
}
.list3{
  color:  #ff00d9;
}
.list4{
  color:  #ff003c;
}